@font-face {
  font-family: regular;
  src: url(/Assets/Switzer-Regular.ttf);
}
@font-face {
  font-family: medium;
  src: url(/Assets/Switzer-Medium.ttf);
}
@font-face {
  font-family: timesNew;
  src: url(/Assets/TimesNewRoman-Italic.ttf);
}
:root {
  --light: rgb(67, 77, 72);
  --main: rgb(4, 25, 20);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  user-select: none;
  background-color: var(--main);
}
#top {
  height: 70px;
  background-color: var(--light);
  display: flex;
  padding-top: 15px;
  padding-right: 2.5vw;
  justify-content: flex-end;
  gap: 25px;
  position: relative;
  z-index: 10;
  overflow-x: hidden;
}

/* ########################   TOP & HEADER   ########################## */

#top p {
  font-family: "medium";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1px;
  color: gainsboro;
}

#header {
  padding: 22px 3vw;
  width: 100%;
  background-color: var(--main);
  border-radius: 20px 20px 0 0;
  transform: translateY(-20px);
  top: 0;
  position: sticky;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header img {
  height: 55px;
}
#header nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
#header nav a {
  font-family: "medium";
  padding-bottom: 5px;
  font-size: 17px;
  letter-spacing: 0.3px;
  text-decoration: none;
  color: aliceblue;
  transition: 0.3s linear;
}
#header nav a:hover {
  color: gainsboro;
  border-bottom: 1px solid var(--light);
}
#header #search {
  color: aliceblue;
  border: 1px solid var(--light);
  padding: 15px;
  font-size: 17px;
  border-radius: 50%;
}
#header #menu {
  display: none;
  color: gainsboro;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid gray;
  font-size: 18px;
}
@media screen and (max-width: 800px) {
  #top p:nth-child(3) {
    display: none;
  }
  #header {
    padding: 20px 2vw;
  }
  #header img {
    height: 50px;
  }
  #header nav {
    display: none;
  }
  #header #menu {
    display: block;
  }
}

/* ####################################   Page 1   ################################## */
#page1 {
  width: 100%;
  min-height: 100vh;
  background-color: var(--main);
  padding: 3vw;
  padding-top: 0;
  transform: translateY(-20px);
  position: relative;
}
#page1 #container {
  display: flex;
  align-items: flex-start;
}
#page1 .left {
  width: 70%;
  padding-top: 100px;
  font-family: "medium";
  padding-left: 7.5vw;
}
#page1 h1 {
  color: aliceblue;
  font-family: "medium";
  font-size: 5.5vw;
  letter-spacing: 1px;
  line-height: 6.3vw;
  font-weight: 500;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
#page1 h1 span {
  font-family: "timesNew";
  font-weight: 500;
}
#page1 h3 {
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 0.3px;
  margin-top: 25px;
  color: rgb(170, 170, 177);
}
#button {
  display: flex;
  width: 340px;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-top: 55px;
}
#button button {
  padding: 20px 40px;
  background-color: var(--light);
  border: none;
  font-size: 19px;
  font-weight: 500;
  color: gainsboro;
  border-radius: 50px;
  font-family: "regular";
  cursor: pointer;
}
#button #arrow2 {
  padding: 20px;
  background-color: rgb(210, 60, 72);
  border: none;
  font-size: 25px;
  color: gainsboro;
  border-radius: 50px;
}
#button #arrow1 {
  height: 0;
  width: 0;
  font-size: 25px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(210, 60, 72);
  border: none;
  font-size: 25px;
  color: gainsboro;
  border-radius: 50px;
  background-color: gainsboro;
  color: rgb(67, 77, 72);
}
#page1 .lineDiv {
  width: 300px;
  height: 79vh;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#page1 .lineDiv .line {
  height: 100%;
  width: 1px;
  background-color: var(--light);
}
#page1 .lineDiv .line:nth-child(1) {
  transform: rotate(-8deg);
}
#page1 .lineDiv .line:nth-child(2) {
  height: 102%;
  transform: rotate(13deg);
}
#page1 .lineDiv .line:nth-child(3) {
  transform: rotate(-10deg) translate(-100px, -20px);
}
#page1 .imgContainer {
  width: 100%;
  height: 45vw;
  overflow: hidden;
  border-radius: 10px;
}
#page1 .imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1.2;
}
#page1 #part2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 130px;
}
#page1 #part2 .item {
  width: 27%;
  font-family: "medium";
}
#page1 #part2 img {
  height: 35px;
}
#page1 #part2 h3 {
  color: gainsboro;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 30px;
  margin-top: 25px;
}
#page1 #part2 p {
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 27px;
  color: rgb(170, 170, 177);
}

@media screen and (max-width: 500px) {
  #page1 {
    padding: 3vw;
    padding-bottom: 50px;
  }
  #page1 .left {
    width: 100%;
    padding-top: 80px;
    padding-left: 1vw;
  }
  #page1 h1 {
    font-size: 50px;
    line-height: 65px;
  }
  #page1 h3 {
    font-size: 20px;
  }
  #page1 .lineDiv {
    display: none;
  }
  #page1 .imgContainer {
    height: auto;
    border-radius: 10px;
    margin-top: 100px;
  }
  #page1 .imgContainer img {
    scale: 1;
  }

  #page1 #part2 {
    width: 100%;
    flex-direction: column;
    gap: 50px;
    margin-top: 100px;
  }
  #page1 #part2 .item {
    width: 100%;
    font-family: "medium";
  }
  #page1 #part2 img {
    height: 35px;
  }
  #page1 #part2 h3 {
    letter-spacing: 0.1px;
    font-size: 27px;
    margin-top: 20px;
  }
  #page1 #part2 p {
    font-size: 17px;
    line-height: 28px;
    margin-top: 10px;
  }
  #button {
    width: 300px;
  }
  #button button {
    padding: 15px 30px;
    font-size: 17px;
  }
  #button #arrow2 {
    padding: 15px;
    font-size: 21px;
  }
  #button #arrow1 {
    display: none;
  }
}

/* ##################################  Page 2   ########################################## */
#page2 {
  /* min-height: 150vh; */
  width: 100%;
  background-color: whitesmoke;
  border-radius: 25px 25px 0 0;
  padding: 6vw 3vw;
}
#page2 .part1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#page2 .part1 .text {
  width: 43%;
  font-family: "regular";
}
#page2 .part1 h1 {
  font-size: 45px;
  font-weight: 500;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  color: var(--main);
}
#page2 .part1 h1 span {
  font-family: "timesNew";
}
#page2 .part1 h4 {
  color: rgb(127, 135, 142);
  margin-top: 25px;
  font-size: 18px;
  line-height: 29px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 550px) {
  #page2 {
    padding-bottom: 120px;
  }
  #page2 .part1 {
    flex-direction: column-reverse;
    gap: 70px;
  }
  #page2 .part1 img {
    width: 100%;
  }
  #page2 .part1 .text {
    width: 100%;
    font-family: "regular";
  }
  #page2 .part1 h1 {
    font-size: 25px;
    font-weight: 500;
  }
  #page2 .part1 h1 span {
    font-family: "timesNew";
  }
  #page2 .part1 h4 {
    font-size: 17px;
    letter-spacing: 0.3px;
  }
}

/* ###################################   Page 3   ###################################### */

#page3 {
  height: 100%;
  width: 100%;
  background-color: var(--main);
  position: relative;
  padding: 5vw 10vw;
  border-radius: 30px 30px 0 0;
  transform: translateY(-20px);
}
#page3 h1 {
  font-family: "regular";
  font-size: 2.7vw;
  color: aliceblue;
  letter-spacing: 1px;
  line-height: 3.5vw;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

#page3 span {
  font-size: 20px;
  padding: 14px;
  font-weight: 500;
  color: rgb(127, 135, 142);
  border: 1px solid gray;
  border-radius: 50%;
}

#page3 .container {
  display: flex;
  align-items: flex-start;
  gap: 15%;
}
#page3 .container .item {
  width: 40%;
  padding-top: 70px;
}
#page3 h4 {
  font-size: 30px;
  font-family: "medium";
  font-weight: 500;
  color: gainsboro;
  letter-spacing: 0.5px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--light);
}
#page3 .expertise {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  cursor: pointer;
}
#page3 .expertise p {
  font-family: "medium";
  font-weight: 500;
  font-size: 20px;
  color: rgb(129, 129, 129);
  letter-spacing: 0.2px;
}
#page3 .expertise i {
  font-family: "medium";
  font-weight: 500;
  font-size: 20px;
  padding: 8px;
  border: 1px solid var(--light);
  border-radius: 50%;
  color: rgb(141, 141, 148);
  transition: 0.1s linear;
}
#page3 .container .expertise:hover i {
  background-color: rgb(210, 60, 72);
  color: gainsboro;
  border: 1px solid rgb(210, 60, 72);
  transform: rotate(-45deg);
}

@media screen and (max-width: 550px) {
  #page3 {
    padding: 50px 15px;
    transform: translateY(-25px);
  }
  #page3 h1 {
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 35px;
  }
  #page3 span {
    font-size: 15px;
    padding: 8px;
  }
  #page3 .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15%;
  }
  #page3 .container .item {
    width: 100%;
    padding-top: 50px;
  }
  #page3 h4 {
    font-size: 22px;
    padding-bottom: 25px;
    margin-bottom: 10px;
  }
  #page3 .expertise {
    margin-top: 10px;
  }
  #page3 .expertise p {
    font-size: 18px;
  }
  #page3 .expertise i {
    font-size: 16px;
  }
}

/* ##########################   ABOUT  US  ################################ */

#about {
  width: 100%;
  height: 100vh;
  position: relative;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 100px;
}
#about img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  scale: 1.2;
}
#about .about {
  width: 550px;
  z-index: 5;
  height: 500px;
  border-radius: 30px;
  background: rgba(67, 77, 72, 0.9);
  color: var(--main);
  text-align: center;
  padding: 70px 50px;
  color: gainsboro;
  font-family: "medium";
}

#about .about i {
  font-size: 20px;
}
#about .about h1 {
  font-size: 35px;
  letter-spacing: 0.7px;
  margin-top: 25px;
}
#about .about p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-top: 25px;
}

@media screen and (max-width: 550px) {
  #about {
    width: 100%;
    height: 500px;
    padding: 50px 0;
    position: relative;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0;
  }
  #about img {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    scale: 1;
  }
  #about .about {
    width: 90%;
    z-index: 5;
    height: 100%;
    border-radius: 25px;
    padding: 50px 10px;
  }
  #about .about i {
    font-size: 25px;
  }
  #about .about h1 {
    font-size: 30px;
  }
  #about .about p {
    font-size: 17px;
    line-height: 28px;
  }
}

/* ##########################   Page 4   ############################ */

#page4 {
  height: 100vh;
  width: 100%;
  background-color: gainsboro;
  padding: 5vw;
  padding-left: 10vw;
  transform: translateY(-20px);
  border-radius: 30px 30px;
}
#page4 .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "medium";
}
#page4 .title h1 {
  color: var(--main);
  font-weight: 500;
  font-size: 2.8vw;
  letter-spacing: 0.5px;
}
#page4 .title p {
  font-size: 17px;
  color: var(--light);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}
#page4 .title p i {
  padding: 6px;
  background-color: aliceblue;
  border: 1px solid gray;
  border-radius: 50%;
}
.swiper {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
.swiper-slide {
  width: 360px !important;
  margin-left: 20px;
}
.swiper-slide img {
  width: 100%;
  border-radius: 20px;
}
.swiper-slide p {
  margin-top: 15px;
  font-size: 15px;
  color: var(--light);
  font-family: "medium";
  font-weight: 500;
}
.swiper-slide h3 {
  margin-top: 15px;
  font-size: 25px;
  color: var(--main);
  font-family: "medium";
  font-weight: 500;
}
.swiper-slide .button {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.swiper-slide .button button {
  padding: 8px 16px;
  font-family: "medium";
  font-weight: 500;
  font-size: 15px;
  color: gainsboro;
  background-color: var(--light);
  border-radius: 20px;
  border: none;
  letter-spacing: 0.3px;
}
.swiper-slide .button button:nth-child(2) {
  background-color: rgb(204, 204, 204);
  color: var(--light);
  margin-left: 10px;
}

@media screen and (max-width: 550px) {
  #page4 {
    height: 100%;
    width: 100%;
    background-color: gainsboro;
    padding: 50px 15px;
    padding-left: 15px;
    transform: translateY(-20px);
    border-radius: 30px 30px;
  }
  #page4 .title h1 {
    font-size: 27px;
  }
  #page4 .title p {
    display: none;
  }
  .swiper {
    width: 100%;
    height: 100%;
    margin-top: 40px;
  }
  .swiper-slide {
    width: 320px !important;
    margin-left: 0px;
  }
  .swiper-slide h3 {
    font-size: 22px;
  }
}

/* #################################   Footer   ######################## */
#footer {
  height: 100vh;
  width: 100%;
  background-color: var(--light);
}
